.weather {
  display: flex;
  flex-direction: column;
}

.weather-data {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  img {
    width: 100px;
    height: 100px;
    margin: auto;
    filter: invert(33%) sepia(85%) saturate(872%) hue-rotate(172deg) brightness(95%) contrast(103%);
  }
}

