.main {
    /* tutaj damy tlo ktore bedzie zmienialo sie wedle pobieranej pogody w danym miescie */

}

.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    font-size: large;
}

.searchBar {
    background: none;
    outline: none;
}

.searchBar {
    background: none;
    outline: none;
}