.main {
    /* tutaj damy tlo ktore bedzie zmienialo sie wedle pobieranej pogody w danym miescie */
    background-image: var(--tlo);
    
}

.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

.searchBar {
    background: none;
    outline: none;
}
