.navbar {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #0779c1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.315);
  text-shadow: 0px 2px 4px rgba(106, 103, 103, 0.973);
  font-weight: 700;
}